
.divNoteItem {
  background-color: #f5f5f5;
  display: inline-block; 
  margin: 3px; 
  padding: 3px; 
  border: 1px solid #BBB;
}

.inputStrDisplay{
  border: 1px solid black;
  margin : 0 10px;
  padding : 3px;
}

#divResult{
  border: 1px solid black;
  width : 300px;
  margin-top : 20px;
  padding : 10px;

}